ADMIN_USER=admin
ADMIN_PASSWORD=
ADMIN_TOKEN=
DATABASE_URL=
ONYXPAG_PUBLIC_KEY=
ONYXPAG_PRIVATE_KEY=
BLACKCAT_API_KEY=
BLACKCAT_PUBLIC_KEY=
BLACKCAT_SPLIT_CODE=
BLACKCAT_API_URL=https://api.blackcatoficial.com/api
PAYMENT_GATEWAY=onyxpag
UTMIFY_API_TOKEN=
